<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="FastLinq.Data.Properties.Settings.AdventureWorksLT2008R2ConnectionString" connectionString="Data Source=LOCAL_SQL2008;Initial Catalog=AdventureWorksLT2008R2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/EF.AdventureWorks.csdl|res://*/EF.AdventureWorks.ssdl|res://*/EF.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOCAL_SQL2008;initial catalog=AdventureWorksLT2008R2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>